<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:cdv = "http://cordova.apache.org/ns/1.0"
        id        = "nl.corsozundert.corsozundert"
        version   = "2.4.0">
    <name>Corso Zundert</name>

    <description>
        The App from Corso Zundert.
    </description>

    <author href="http://corsozundert.nl" email="info@corsozundert.nl">
        Stichting Bloemencorso Zundert
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-device" version="0.2.8" />
    <plugin name="cordova-plugin-inappbrowser" version="0.2.4" />
    <plugin name="cordova-plugin-splashscreen" version="0.2.7" />
    <plugin name="cordova-plugin-statusbar" version="1.1.0" />
    <plugin name="cordova-plugin-screen-orientation" />
    <plugin name="cordova-plugin-globalization" />
    
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="webviewbounce" value="false" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="StatusBarBackgroundColor" value="#ffffff" />
    <preference name="StatusBarStyle" value="black-opaque" />
    <preference name="stay-in-webview" value="true" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    
    <icon src="www/res/icon.png" />
    <icon src="www/res/icon_ios57.png" platform="ios" width="57" height="57" />
    <icon src="www/res/icon_ios72.png" platform="ios" width="72" height="72" />
    <icon src="www/res/icon_ios114.png" platform="ios" width="114" height="114" />
    <icon src="www/res/icon_ios120.png" platform="ios" width="120" height="120" />
    <icon src="www/res/icon_ios144.png" platform="ios" width="144" height="144" />
    
    <splash src="www/res/splash-iphone4.png" width="640" height="960" />
    <splash src="www/res/splash-iphone5.png" platform="ios" width="640" height="1136" />
    <splash src="www/res/splash-iphone6.png" platform="ios" width="750" height="1334" />
    <splash src="www/res/splash-iphone6plus.png" platform="ios" width="1242" height="2208" />
    <splash src="www/res/splash-ipad.png" platform="ios" width="1536" height="2048" />
    <splash src="www/res/splash-ipad2.png" platform="ios" width="768" height="1024" />
    
    <splash src="www/res/splash-ldpi.png" platform="android" width="200" height="320" />
    <splash src="www/res/splash-mdpi.png" platform="android" width="320" height="480" />
    <splash src="www/res/splash-hdpi.png" platform="android" width="480" height="800" />
    <splash src="www/res/splash-xhdpi.png" platform="android" width="720" height="1280" />
    
</widget>
